---
layout: page
title: Projects
permalink: /projects/
order: 1
---

<div class="home">

  <p>My public projects, mostly related to security.

  <ul class="event-list">
    {% for project in site.data.projects %}
    <li>
      <a href="{{ project.href }}">{{ project.title }}</a>
      <span class="post-meta">
        {{ project.status}}
        {% if project.hn %}
        • see <a href="{{ project.hn }}">HN discussion</a>
        {% endif %}
      </span>
      </br>
      {{ project.desc }}
    </li>
    {% endfor %}
  </ul>

</div>