<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="{{ site.url }}">{{ site.url }}</a></li>
        </ul>
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username=site.usernames.github %}
          </li>
          <li>
            {% include icon-twitter.html username=site.usernames.twitter %}
          </li>
          <li>
            <a href="https://linkedin.com/in/{{ site.usernames.linkedin }}">
              <span class="fa fa-linkedin-square" style="color:#828282"></span>
               s0md3v
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Somdev Sangwan - Security & Automation Researcher</p>
      </div>

    </div>

  </div>

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Somdev Sangwan",
    "url": "https://s0md3v.github.io",
    "image": "https://raw.githubusercontent.com/s0md3v/s0md3v.github.io/main/imgs/me.jpg",
    "sameAs": [
      "https://instagram.com/s0md3v",
      "https://twitter.com/s0md3v",
      "https://github.com/s0md3v",
      "https://facebook.com/s0md3v",
      "https://in.linkedin.com/in/s0md3v",
      "https://www.deccanherald.com/author/somdev-sangwan",
      "https://redhuntlabs.com/blog/author/s0md3v/",
      "https://www.vogue.com/photovogue/photographers/357142",
      "https://redhuntlabs.com/blog/author/s0md3v/",
      "https://s0md3v.medium.com/"
    ],
    "height": "1.8",
    "birthDate": "1999-02-18",
    "knowsAbout": "Cyber Security, Programming, Ethical Hacking, Open Source, Computer Science, Research, Philosophy, Photography",
    "jobTitle": "Security Researcher",
  }
  </script>

</footer>
