---
layout: base
---
{% include header.html %}

<main class="blog-content">
  <div class="wrapper">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% for tag in page.tags %}
      <span>[{{ tag }}]</span>
      {% endfor %}
      {% if page.external %}
      <br>
      also {{ page.external.status }} <a href="{{ page.external.href }}">{{ page.external.title }}</a>
      on {{ page.external.date | date: "%-d %b %Y" }}
      {% endif %}
      {% for extra in page.extras %}
      <br>
      see: <a href="{{ extra.href }}">{{ extra.text }}</a>
      {% endfor %}
      {% if page.unlisted %}
      <br>
      an unlisted draft • an unlisted draft • an unlisted draft • an unlisted draft • an unlisted draft
      {% endif %}
    </p>
    <div class="post-content">
      {{ content }}
    </div>
  </div>
</main>